<mat-toolbar color="primary">Todo list</mat-toolbar>
<div class="container">
  <app-add-todo (onAddTodo)="refresh()"></app-add-todo>
  <h1>Tarefas</h1>
  <h2>A fazer</h2>
  <ng-container *ngFor="let todo of todos">
    <app-todo *ngIf="!todo.active" (onActiveChange)="refresh()" (onSaveTodo)="refresh()" (onDeleteTodo)="refresh()" [todo]="todo"></app-todo>
  </ng-container>
  <h2>Feito</h2>
  <ng-container *ngFor="let todo of todos">
    <app-todo *ngIf="todo.active" (onActiveChange)="refresh()" (onSaveTodo)="refresh()" (onDeleteTodo)="refresh()" [todo]="todo"></app-todo>
  </ng-container>
</div>
